.chat-detals__header {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: rgba(200, 200,200, 0.3);
}

.chat-detals__container {
    display: flex;
    gap: 20px;
}

.chat-detals__title {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 400;
}

.chat-detals__desc {
    margin: 0;
}

.chat-detals__search-button {
    border: none;
    outline: none;
    background-image: url(../../image/search_104498.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(200, 200,200, 0.0);
}

.chat-detals__menu-button {
    background-image: url(../../image/icons8-меню-2-48\ \(1\).png);
    width: 30px;
    height: 30px;
    background-color: rgba(200, 200,200, 0.0);
    border: none;
    outline: none;
    background-size: contain;
}

.chat-detals__buttons {
    display: flex;
    gap: 30px;
}
